<app-header></app-header>

<div class="px-4 pt-5 my-5 text-center border-bottom" *ngIf="news$ | async as news">
  <h1 class="display-4 fw-bold">
    {{ news.title }}
  </h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      {{ news.content }}
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      {{ news.description }}
    </div>
  </div>
  <div class="overflow-hidden" style="max-height: 30vh;">
    <div class="container px-5">
      <img [src]="news.urlToImage" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>